/* SERVICE HERO */
.service-hero {
  position:relative;
  height: 75vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00c0305b;
  margin-bottom: 40px;}

  /* MOBILE */
@media (max-width: 768px) {
  .service-hero {
    height: 50vh;
  }
  .content {
    padding-top: 100px;
  }
  .content p{
    margin-top: 40px;
    padding: 0 10px 0 10px;
    font-weight: bold;
  }
}

.CeoContainer-2{
  width: 100%;
  display: flex;
  margin-bottom: 40px;
  justify-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

.CeoContainer h2{
  width: 100%;
  text-align: left;
}

.serv-sec-head{
  width: 100%;
  text-align: center;
}

#more-service-container{
  width: 100%;
  display: flex;
  margin-top: 20px;
  justify-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

#more-service-container div{
  width: 400px;
  height: 50px;
  background-color: rgba(0, 255, 255, 0.158);
  border-radius: 6px;
  justify-content: left;
  display: flex;
  align-items:center;
  padding-left: 20px;
}

#more-service-container h2{
  width: 100%;
  text-align: center;

}

.other-services{
  color: rgb(0, 0, 0);
  text-align: left;
  
}

.svg-service{
  height: auto; 
  width: 10px; 
  fill: rgb(0, 0, 0);
}

.svg1{
  height: auto; 
  width: 60px; 
  fill: rgb(241, 157, 0);
}

.svg2{
  height: auto; 
  width: 60px; 
  fill: rgb(0, 97, 255);
}

.svg3{
  height: auto; 
  width: 60px; 
  fill: rgb(0, 109, 15);
}

.why-us{
  width: 100%;
  text-align: center;
  font-size: clamp(1.5rem, 2vw, 1.6rem);
}

